.App {
  text-align: center;
  /* background-image: url("../images/bg/bg1/6029159.jpg"); */
  /* background-image: url("../images/bg/bg2/5515594.jpg"); */
  background-image: url("../images/bg/bg3/vecteezy_abstract-background-line-wave-element-sound-spectrum_8129912.jpg");
  /* background-image: url("../images/bg/bg4/vecteezy_abstract-wave-shape-purple-background-vector_7696669.jpg"); */
  /* background-image: url("../images/bg/bg5/vecteezy_modern-colorful-wavy-line-background-design-wave-curve_13545728.jpg"); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
