
.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    border-bottom: 2px solid blueviolet;

}

.title {
    margin-left: 20px;
}

.navOptions {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navItems {
    margin-right: 40px;
}

.home {
    margin: auto 2%;
}

.previewWindow {
    position: relative;
    height: 400px;   
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2% auto;
    background-image: url("../images/8.jpeg");
    background-size: cover;
  }

.previewTitle {
    color: aliceblue;
    font-size: 70px;
    width: 100%;
    left: 25%;
    padding-bottom: 10px;
}
  
.previewSearch {
    position: absolute;
    width: 50%;
    height: 12%;
    left: 25%;
    bottom: 30%;

}
  
.previewSearch input{
    width: 100%;
    height: 100%;
    border-radius: 80px;
}

#icon {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 24px;
    height: 24px;
  }

.shopping {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.shoppingMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.shoppingMenu button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shoppingMenu button:hover{
    background-color: blueviolet;
}

.shoppingItems {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust the max-width as per your requirement */
}

.shoppingItem {
    max-width: 100%;
    height: auto;
    margin-left: 5px; /* Adjust the margin as per your requirement */
    margin-bottom: 13px;
    flex: 1 1 calc(33.33% - 10px); /* Change 33.33% to adjust the number of images in a row */
    max-width: calc(33.33% - 10px); /* Change 33.33% to adjust the number of images in a row */
}

.shoppingItem img {
    width: 100%;
    height: 250px;
}

.itemName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.itemDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail {
    display: flex;
    flex-direction: row;
}

.detailsImageContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.detailsImageContainer img {
    height: 50%;
}

.detailsDataContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}